
$primary:DarkGoldenrod;
$body-bg:rgb(38, 0, 54);
$body-color:$primary;
$input-bg: white;
@import '~bootstrap/scss/bootstrap.scss';





img {
  width: 80%;
  
}


.Card.img{
  width: 20%;
  
}
.btn-outline-warning {
 
  --bs-btn-color: none;
  border-color:$primary;
  
  --bs-btn-hover-color:$primary;
  --bs-btn-hover-bg: $body-bg;
  --bs-btn-hover-border-color:DarkGoldenrod;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-bg:DarkGoldenrod;
  --bs-btn-active-color:rgb(38, 0, 54);;
}
.navbar {
  text-decoration: underline;
  --bs-navbar-color: $primary;
  text-decoration: underline;
  
}
.nav-link:active {
  background-color:$primary;
   color:$body-bg;
  
  
}
